.account-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account-form input {
  border: none;
  border-bottom: 1px solid coral;
  padding: 8px 16px;
  background-color: transparent;
}

.form-switcher {
  color: var(--teal);
  font-size: 12px;
  cursor: pointer;
  margin-top: 16px;
  text-align: center;
}
