header {
  background-color: white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e9ebeb;
  z-index: 1;
}

header .container {
  padding: 8px;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 16px;
}

header img {
  height: 45px;
}

.input-search {
  position: relative;
  flex-grow: 0.7;
}

.input-search input {
  background-color: var(--lightgrey);
  border-radius: 10px;
  border: none;
  height: 40px;
  position: relative;
  padding-left: 36px;
  width: 100%;
}

.input-search .icon {
  position: absolute;
  left: 12px;
  top: 12px;
  color: var(--grey);
  padding-right: 12px;
}

header button {
  margin-left: 8px;
}

.sort-section {
  flex-grow: 0.3;
}

.sort-section > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sort-section > div > span {
  font-size: 12px;
  width: 100px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 0;
  height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--teal);
  border-radius: 20px;
}

.switch input + span:before {
  content: "↓";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
  text-align: center;
  color: var(--teal);
}

.switch input:checked + span:before {
  right: 17px;
  content: "↑";
}
