header {
  background-color: white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e9ebeb;
  z-index: 1;
}

header .container {
  padding: 8px;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header img {
  height: 45px;
}

.input-search {
  position: relative;
  flex-grow: 0.7;
}

.input-search input {
  background-color: var(--lightgrey);
  border-radius: 10px;
  border: none;
  height: 40px;
  position: relative;
  padding-left: 36px;
  width: 100%;
}

.input-search .icon {
  position: absolute;
  left: 12px;
  top: 12px;
  color: var(--grey);
  padding-right: 12px;
}

header button {
  margin-left: 8px;
}
