.offer-container {
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
}

.offer-img {
  max-width: 30vw;
  height: 80vh;
}

.offer-card {
  background: white;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  height: 80vh;
}

.offer-product-info {
  margin-top: 24px;
}

.offer-product-info span {
  width: 50%;
  display: inline-block;
  font-size: 14px;
}

.offer-product-info span:first-of-type {
  color: var(--grey);
}

.offer-product-info span:last-of-type {
  color: var(--darkgrey);
  font-weight: 600;
}

.offer-info .name {
  font-weight: 600;
  margin-bottom: 12px;
}
