body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

hr {
  margin: 32px 0;
  border: 1px solid var(--lightgrey);
}
